body {
  font-family: "open_sansregular", Arial, sans-serif;
  /*background: url(../images/brooklyn_bridge.jpg);*/
}

legend {
  font-size: 1.5em;
}

button {
  background-color: orange;
  color: white;
}

p {
  padding-left: 2em;
  padding-right: 2em;
}

article {
  padding-top: 2em;
  padding-bottom: 2em;
}

article:nth-child(odd) {
  background: #98FF98;
}

nav a {
  text-decoration: none;
  color: white;
  font-family: "robotobold";
  font-size: 1.5em;
}

a:hover {
  cursor: pointer;
}

section li {
 list-style-type: none;
}

nav li {
  display: inline;
  list-style-type: none;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 25em;
}

header {
  background: #36454F;
  padding-top: 2em;

}

footer {
  background: #36454F;
  color: white;
  padding-top: 2em;
  margin-left: 0;
}

h3 {
  font-size: 1.2em;
  font-family: "robotobold";
}

img {
  width: 128px;
  height: auto;
}

form {
  max-width: 350px;
}

input:not([class='search']) {
  display: block;
}

textarea {
  display: block;
  resize: vertical;
}

fieldset {
  border-radius: 15px;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

:-ms-input-placeholder {
   text-align: center;
}
