/* Open Sans Font */
@font-face {
  font-family: 'open_sansbold';
  src: url('../fonts/opensans-bold-webfont.eot');
  src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-bold-webfont.woff') format('woff'),
       url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
       url('../fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansbold_italic';
  src: url('../fonts/opensans-bolditalic-webfont.eot');
  src: url('../fonts/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans-bolditalic-webfont.woff2') format('woff2'),
       url('../fonts/opensans-bolditalic-webfont.woff') format('woff'),
       url('../fonts/opensans-bolditalic-webfont.ttf') format('truetype'),
       url('../fonts/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansitalic';
  src: url('../fonts/opensans-italic-webfont.eot');
  src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans-italic-webfont.woff2') format('woff2'),
       url('../fonts/opensans-italic-webfont.woff') format('woff'),
       url('../fonts/opensans-italic-webfont.ttf') format('truetype'),
       url('../fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('../fonts/opensans-regular-webfont.woff') format('woff'),
       url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
       url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Robot Font */
@font-face {
  font-family: 'robotobold';
  src: url('../fonts/roboto-bold-webfont.eot');
  src: url('../fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
       url('../fonts/roboto-bold-webfont.woff') format('woff'),
       url('../fonts/roboto-bold-webfont.ttf') format('truetype'),
       url('../fonts/roboto-bold-webfont.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold_italic';
  src: url('../fonts/roboto-bolditalic-webfont.eot');
  src: url('../fonts/roboto-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto-bolditalic-webfont.woff2') format('woff2'),
       url('../fonts/roboto-bolditalic-webfont.woff') format('woff'),
       url('../fonts/roboto-bolditalic-webfont.ttf') format('truetype'),
       url('../fonts/roboto-bolditalic-webfont.svg#robotobold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoitalic';
  src: url('../fonts/roboto-italic-webfont.eot');
  src: url('../fonts/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto-italic-webfont.woff2') format('woff2'),
       url('../fonts/roboto-italic-webfont.woff') format('woff'),
       url('../fonts/roboto-italic-webfont.ttf') format('truetype'),
       url('../fonts/roboto-italic-webfont.svg#robotoitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url('../fonts/roboto-regular-webfont.eot');
  src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('../fonts/roboto-regular-webfont.woff') format('woff'),
       url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
       url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Glyphicons */
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?yxvvo9');
  src:url('../fonts/icomoon.eot?#iefixyxvvo9') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?yxvvo9') format('truetype'),
      url('../fonts/icomoon.woff?yxvvo9') format('woff'),
      url('../fonts/icomoon.svg?yxvvo9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paper-clip:before {
  content: "\e001";
}
.icon-mail:before {
  content: "\e002";
}
.icon-camera:before {
  content: "\e017";
}
.icon-cog:before {
  content: "\e023";
}
.icon-align-justify:before {
  content: "\e026";
}
.icon-layers:before {
  content: "\e031";
}
.icon-delete:before {
  content: "\e119";
}
.icon-menu:before {
  content: "\e120";
}
.icon-ellipsis:before {
  content: "\e129";
}
.icon-envelope:before {
  content: "\e600";
}
