@media screen and (-webkit-device-pixel-ratio: 1.5) {
    .about-picture {
      /*Still looking for an HDPI image */
        background:url(../images/dolomites-regular.jpg);
        background-repeat: no-repeat;
    }
}
