.container-centered {
  margin-left: auto;
  margin-right: auto;
}

.float-right {
  float: right;
}

.text-aligned-right {
  text-align: right;
}

.text-centered {
  text-align: center;
}

.fullscreen {
  background-image: url("../images/brooklyn_bridge.jpg");
}

.about-picture {
  width: 100%;
  height:auto;
}
