.btn, .h2-skin {
  color: white;
  background-color: blue;
  padding: 1em;
  border-radius: 15px;
}

.button-action {
  background-color: red;
}

.container-centered {
  margin-left: auto;
  margin-right: auto;
}

.text-centered {
  text-align: center;
}
